html {
    background-color: #4a578b;
    min-height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #000;
    text-align: center;
}

.box {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #3d2c88;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    min-height: 70px;
    display: flex;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

p {
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: 200;
    color: #00204a;
}


/* FORM CSS */

.add-new-contact {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    height: 300px;
    width: 1000px;
    background-color: #fff;
}

form {
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'helvetica neue';
    box-sizing: border-box;
}

#delete {
    min-height: 25px;
    width: 25px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3d2c88;
    color: #fff;
    font-size: 15px;
    border-width: 0;
}

#edit {
    min-height: 25px;
    width: 25px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3d2c88;
    color: #fff;
    font-size: 15px;
    border-width: 0;
}

#add {
    height: 50px;
    width: 50px;
    border-color: transparent;
    background-color: #3d2c88;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="file"] {
    width: 380px;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
    color: grey;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* CARD STYLE CSS*/

.contact-details {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    clear: both;
    height: 1000px;
    width: 90%;
}

.card {
    transition: 0.3s;
    width: 250px;
    padding: 15px;
    margin: 5px;
    height: 150px;
    float: left;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
    height: 50px;
    width: 50px;
}


/* FOOTER CSS */

#footer {
    float: none;
    clear: both;
    text-align: center;
    width: 100%;
    margin: auto;
    color: #fff;
    padding: 50px;
}